// DELETE: api/[classNameMaj]/5
public async Task<IActionResult> Delete[classNameMaj]([primaryType] id)
{
    var [classNameMin] = await _context.[classNameMaj].FindAsync(id);
    if ([classNameMin] == null)
    {
        return NotFound();
    }

    _context.[classNameMaj].Remove([classNameMin]);
    await _context.SaveChangesAsync();

    return NoContent();
}