[namespace] [package][namespaceStart]
[imports]
[controllerAnnotations]
[Route("api/[controller]")]
[ApiController]
public class [controllerNameMaj] [extends]{
    [fields]
    [constructors]
    [methods]
}
[namespaceEnd]